	/* ===== Layout section =====*/
body {
	font-family: Verdana, Geogrgia, serif;
	font-size: 14px;
	background-image: url(photo/myPic.png);	
}

	/* ===== Side navi section =====*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url(photo/real_cf_@2X.png);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  padding-bottom: 20px;
  font-size: 36px;
}

	/* ===== Body section =====*/
#rightButtom{
	position: fixed;
}

#rightButtom :hover{
	color: #f1f1f1;
}

.sideright-image{
	display: block;	
	margin-left: auto;
	margin-right: auto;
	height: 220px;
	width: 220px;
	border-radius: 360px;
}

#main {	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}

#contact{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 40px;
	text-align: Center;
	font-size: 16px;
	border-style: round;
	width: 700px;
	line-height:40px;
	border-top: dimgrey 4px solid;
}

#about {
	background-image: url(photo/myPic2.png);
	padding: 8px 8px 8px 8px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 16px;
	border-radius: 5px;
	width: 900px;
	color: white;
	line-height:40px;
	border: dimgrey 4px solid;
}

#education {
	background-image: url(photo/mypic2.png);
	padding: 8px 8px 8px 8px;
	transition: margin-left .5s;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 16px;
	border-radius: 5px;
	width: 900px;
	color: white;
	line-height:30px;
	border: dimgrey 4px solid;
}

#skill {
	background-image: url(photo/mypic2.png);
	padding: 8px 8px 8px 8px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 16px;
	border-radius: 5px;
	width: 900px;
	color: white;
	line-height:40px;
	border: dimgrey 4px solid;
}

#experience {
	background-image: url(photo/mypic2.png);
	padding: 8px 8px 8px 8px;
	transition: margin-left .5s;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 16px;
	border-radius: 5px;
	width: 900px;
	color: white;
	border: dimgrey 4px solid;
}

#experience p {
	line-height:40px;
}

#project {
	background-image: url(photo/mypic2.png);
	padding: 8px 8px 8px 8px;
	transition: margin-left .5s;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 16px;
	border-radius: 5px;
	width: 900px;
	color: white;
	border: dimgrey 4px solid;
}

#project p img{
	display: block;	
	margin-left: auto;
	margin-right: auto;
}

#footer {
	background-image: url(photo/mypic2.png);
	padding: 8px 8px 8px 8px;
	transition: margin-left .5s;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 16px;
	border-radius: 5px;
	width: 900px;
}

	/* ===== Heading section =====*/
h1{
	text-align:center;
	font-size: 40px;
}



	/* ===== Screen section =====*/
@media screen and (max-width: 500px) {
	.sidenav {
		padding-top: 15px;
	}
	
	.sidenav a {
		font-size: 18px;
	}
	
	.sideright-image{
	height: 40%;
	width: 40%;
	}
	
	h1{
		font-size: 30px;
	}
	
	#main{
		font-size: 90%; 
		width: 80%;
		text-align: left;
	}

	#contact {
		font-size: 90%; 
		width: 80%;
	}
	
	#contact a img{
		width: 35px;
		height: 35px;
	}
	
	#education {
		font-size: 90%; 
		width: 80%;
	}
	
	#skill {
		font-size: 90%; 
		width: 80%;		
	}
	
	#skill table {
		font-size: 90%; 
		width: 80%;		
	}
	
	#about{ 
		font-size: 90%; 
		width: 80%;
	}
	
	#experience{ 
		font-size: 90%; 
		width: 80%;
	}
	
	#project{
		font-size: 90%; 
		width: 80%;
	}
	
	#project p img{
		width: 300px;
		height: 300px;
	}

@media screen and (max-width: 750px) {	
}

@media screen and (max-width: 1000px) {
}	


}